*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    width: 47%;
    height: 45%;
    font-size: 1rem;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 5px;
    background-color: wheat;
    color: darkslateblue;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    height: 43%;
    width: 45%;
    margin: 0 1%;
}

.btn:disabled {
    width: 47%;
    height: 45%;
    margin: 0;
}